* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: "Geist Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
    cursor: pointer;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 8, 20, 1);
}

.NavBar_Wrapper {
    border-bottom: 1px solid #bfa7a7;
    box-shadow: rgba(188, 174, 174, 0.1) 0px 4px 12px;
    padding: 11px;
}

.nav_container {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_container img {
    height: 25px;
}

.nav_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.menu {
    color: white;
    font-size: 1.15rem;
    letter-spacing: 1px;
    font-weight: 500;
}

.menu.active {
    color: #FFD60A;
}


.nav_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.nav_logo p {
    color: white;
    font-size: 1.15rem;
}

.nav_bars {
    color: white;
    display: none;
}

/* apply the mideo Query */
@media screen and (max-width: 1080px) {
    .nav_logo {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .nav_menu {
        display: none;
        position: absolute;
        flex-direction: column;
        justify-content: start;
        gap: 30px;
        top: 55px;
        right: 0;
        width: 25%;
        background-color: rgb(4, 15, 62);
        padding: 12px 2px;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        box-shadow: rgb(38, 57, 77) 0px 20px 14px -8px;
        transition: all 0.5s;
    }

    .nav_bars {
        display: flex;
    }

    .nav_menu.show {
        display: flex;
    }
}