* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    text-decoration: none;
    list-style-type: none;
    font-family: "Geist Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.wrapper {
    width: 100vw;
    background-color: rgba(0, 8, 20, 1);
}


/* NavBar Styling Start */

.NavBar_Wrapper {
    background-color: #070c17;
    border-bottom: 1px solid #bfa7a7;
    box-shadow: rgba(188, 174, 174, 0.1) 0px 4px 12px;
    padding: 11px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.nav_container {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_container img {
    height: 25px;
}

.nav_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.menu {
    color: white;
    font-size: 1.15rem;
    letter-spacing: 1px;
    font-weight: 500;
}

.menu.active {
    color: #FFD60A;
}


.nav_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.nav_logo p {
    color: white;
    font-size: 1.15rem;
}

.nav_bars {
    color: white;
    display: none;
}

/* apply the mideo Query */
@media screen and (max-width: 1080px) {
    .nav_logo {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .nav_menu {
        display: none;
        flex-direction: column;
        justify-content: start;
        width: 35%;
        padding: 12px 2px;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        transition: all 0.5s;
    }

    .nav_bars {
        display: flex;
        position: fixed;
        top: 12px;
        right: 12px;
    }


    .nav_menu.show {
        display: flex;
    }
}

/* NavBar Styling END */


/* hero_section styling start */

.hero_container {
    position: relative;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.hero_upper_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: white;
}

.hero_btn_upper {
    padding: 12px 16px;
    background-color: #161D29;
    outline: none;
    border: 0.75px solid #2b2222;
    border-radius: 16px;
    transition: all 0.5s linear;
    transform: scale(0.99);

}

.hero_btn_upper:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(57, 57, 57, 0.22) 0px 10px 10px;
    transform: translateX(10px) scale(1);
}

.hero_btn_upper a {
    color: rgba(153, 157, 170, 1);
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    font-weight: 300;
}

.hero_heading_desc_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.hero_heading_desc_container>h2 {
    font-size: 2rem;
    color: rgba(241, 242, 255, 1);
    font-weight: 700;
    letter-spacing: 1px;
}

.hero_heading_desc_container>h2>span {
    color: #76b992;
}

.hero_heading_desc_container>p {
    font-size: 1rem;
    text-align: center;
    line-height: 1.6;
    color: rgba(153, 157, 170, 1);
}

.btn_group {
    display: flex;
    gap: 30px;
}

.btn {
    padding: 8px 15px;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
}

.btn:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.btn1 {
    background-color: #FFD60A;
    cursor: pointer;
}

.btn2 {
    background-color: #161D29;
    color: rgb(155, 158, 165);
    cursor: pointer;
}



/* add Media Query */

@media screen and (max-width: 800px) {
    .hero_container {
        display: flex;
        text-align: center;
        padding: 12px;
    }

    .hero_lower_section {
        width: 530px;
    }

    .hero_heading_desc_container {
        display: flex;
        text-align: center;
        padding-right: 8px;
    }

    .hero_lower_section>.img {
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width:511px) {
    .hero_lower_section {
        width: 430px;
    }

    .hero_lower_section>.img {
        height: 100%;
        width: 100%;
    }
}

/* hero_Section Styling End */



/* styling code section */

.code_container {
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 20px;
    margin-top: 80px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

/* code - 01 */

.code_section_01_container {
    display: flex;
    justify-content: space-between;
}

.section_01_left {
    max-width: 50%;
    width: 100%;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.section_01_left>.text_grp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}


.section_01_left>.text_grp>h2 {
    font-size: 2rem;
    color: white;
}

.section_01_left>.text_grp>h2>span {
    color: #2DD2E2;
    font-weight: 700;
}

.section_01_left>.text_grp>p {
    color: #bfa7a7;
    font-size: 1rem;
    font-weight: 400;
}


.code-container {
    background-color: #060F1E;
    padding: 0px 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 45%;
    background-image: url(./assets/Logo/Ellipse2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

.code-output1 {
    color: #205e77;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #bfa7a7;
    font-size: 1rem;
    line-height: 1.5;
}

/* code - 01 */

.code_section_02_container {
    display: flex;
    justify-content: space-between;
}

.code-container_02 {
    background-color: #060F1E;
    padding: 10px 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 45%;
    background-image: url(./assets/Logo/Ellipse.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

@media screen and (max-width:980px) {
    .code_section_01_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 70px;
    }

    .section_01_left {
        max-width: 90%;
    }

    .code-container {
        max-width: 90%;
    }

    .code_section_02_container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 70px;
    }

    .code-container_02 {
        max-width: 90%;
    }
}

/* unloack styling */

.unlock_wrapper {
    position: relative;
}

.unlock_container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #bfa7a7;
    padding-top: 100px;
    padding-bottom: 120px;
}

.unlock_container>h2 {
    font-size: 1.75rem;
    font-weight: 700;
    color: #060F1E;
}



.unlock_container>h2>span {
    color: #139bd0;
}


.card_container {
    position: absolute;
    top: 32%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:980px) {
    .unlock_wrapper {
        display: none;
    }
}

.lesson_card {
    background-color: #FFFFFF;
    max-width: 24%;
    width: 100%;
    height: 250px;
    padding: 15px;
    border-bottom: 8px solid #FFD60A;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    border-radius: 8px;
}

.text_card {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.l_css {
    color: white;
}

.lesson_card>div>h3 {
    font-size: 1.25rem;
    font-weight: 700;

}

.lesson_card>div>p {
    font-size: 1rem;
    font-weight: 400;
    color: #bfa7a7;
}


.lesson_btn {
    display: flex;
    justify-content: space-between;
    border-top: 1px dotted rgb(93, 145, 167);
    padding-top: 10px;
    align-items: center;
}

.lesson_sub_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.lesson_card1 {
    background-color: #161D29;
}

.unlocked_container_1 {
    background-image: url("./assets/Images/frame.png");
    height: 300px;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* job styling  */


.job_wrapper {
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.top_section_container {
    display: flex;
    gap: 120px;
}

.heading_top_section {
    font-size: 1.25rem;
    font-weight: 700;
    color: black;
}


.heading_top_section>h2>span {
    color: #139bd0;
}

.text_top_section_content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.text_top_section_content>p {
    font-size: 1rem;
    font-weight: 400;
    color: #443737;
}

.buttom_section_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: 90px;
}


.icons_container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.icon_container {
    display: flex;
    gap: 20px;
    align-items: center;
}


.icon_content{
    background-color: #e9d6d6;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 50%;
    text-align: center;
    display: flex;
}

.img_box img {
    height: 450px;
    border-radius: 12px;
}

.overlap_txt_container {
    position: absolute;
    bottom: 60px;
    right: 160px;
    background-color: #014A32;
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 1rem;
    border-radius: 12px;
}

.overlap_txt_part_1 {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.overlap_txt_part_1>h2 {
    font-size: 1.25rem;
    font-weight: 700;
}

.overlap_txt_part_1>p {
    font-size: 0.75rem;
    font-weight: 400;
}